language: c
compiler: gcc

git:
  depth: 100
  submodules: true

branches:
  only:
    - master
    
jobs:
  include:
    - stage: build-win32
      name: "Build x86 Windows"
      os: windows
      env:
        - MSBUILD_PATH="c:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\MSBuild\15.0\Bin"
      before_script:
        - git submodule update --remote --merge
        - cd src
        - ./creategameprojects.bat
      script:
        - export PATH="$MSBUILD_PATH:$PATH"
        - MSBuild.exe games.sln
      after_success:
        - cd ../game/
        - tar -czvf dmo_win32.tgz ./dmo/
        - export GITHUB_TOKEN=$GH_TOKEN
        - wget -c https://github.com/FWGS/uploadtool/raw/master/upload.sh
        - bash upload.sh dmo_win32.tgz
    - stage: build
      name: "Build i386 Linux"
      cache: ccache
      os: linux
      dist: bionic
      addons:
        apt:
          packages:
            - libgoogle-perftools-dev:i386
            - libfreetype6-dev:i386
            - libsdl2-dev:i386
            - gcc-multilib
            - g++-multilib
      before_script:
        - git submodule update --remote --merge
        - cd src/
        - sha1sum ./devtools/bin/vpc
        - ./devtools/bin/vpc /h
        - ./creategameprojects
      script:
        - make -f games.mak NO_CHROOT=1 2> /dev/null
      after_success:
        - cd ../game/
        - tar -czvf dmo_linux32.tgz ./dmo/
        - export GITHUB_TOKEN=$GH_TOKEN
        - wget -c https://github.com/FWGS/uploadtool/raw/master/upload.sh
        - bash upload.sh dmo_linux32.tgz
